/* reset css */
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,hr{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,input,textarea,hr,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var,i,span,a,strong,small,big,input,textarea{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: bold;}q:before,q:after{content:'';}

/* usp corpsite reset */
    strong {font-weight:bold;}
    em, em span {font-style:italic;}
    a {cursor:pointer;text-decoration:underline;color:#000;}
    a:hover {text-decoration:none;color:#4d5666;}
    a:link {outline:none;}
    legend, .hidden {display:none;}
    input, select, textarea {padding:2px 4px;margin:0; overflow: visible; }
    button {display:block;border:0;float:left;background:transparent;overflow:hidden}
    .fih {display:none;}
    div.boolean input, div.radio input {width:13px;height:13px;background-color:#fff; margin: 5px 5px 0 0; cursor: pointer; }
    button, .fib input, select, option, label.radio, label.collection_radio, label.boolean {cursor:pointer;}
    html,body {width:100%;height:100%; font-size: 14px; line-height: 20px;color:#000;} 
    html,body,a,a:hover,input,select,textarea {font-family: Tahoma, Helvetica, Arial, Verdana, sans-serif;}
    div {clear: both;overflow: hidden;}
    /*abbr {padding: 2px 5px;}*/
    img {display: block;}
    #ajax-loader{width:auto;height:auto;position:absolute;right:0;top:10px;display:none;}
    

/* grid */
body{background-color:#c1d7ff;min-width:855px;}

#lc{position:relative;}
#h, #c, #f, #s {width: 100%;}
#h-, #c-, #f-, #t-, #s- {margin:0 auto;width:800px;padding-right:10px;}

.close,#bookmark {background-image: url(../images/sprite.png);background-repeat: no-repeat;background-color: transparent;}

.close {text-indent:-99999em;width:100%;height:100%;display:block;}

.mobile_photo{display:none;}

/*header */
#h {text-align:center;background: transparent url(../images/home.png) no-repeat 50% 0;position:relative;}
#h h1{font-size:48px;line-height:52px;}
#h-{position:relative;}
#c img{float:right;border-width:3px;border-color:#a6bfdd;border-style:solid;}
#c .personalInfo{float:left;width:100%;text-align:left;}
#s{position:absolute;z-index:50;top:0;overflow:visible;}



/* content*/
#c {background: transparent url(../images/c.png) repeat-y 50% 0;}
#c-{padding-top:50px;}

/* footer */
#f {background: transparent url(../images/f.png) no-repeat 50% 100%;}
#f p{padding:50px 0;font-size:11px;line-height:16px;}

/* sections */
.section .header h3{color:#4f81bd;font-size:20px;line-height:26px;font-family:Calibri,sans-serif;text-transform:uppercase;font-style:italic;border-bottom: 1px solid #4F81BD;width:600px;margin:50px 0 20px;}
.section .content ul{padding-left:18px;margin-top:5px;}
.section .content ul li{list-style:disc;line-height:20px;margin-bottom:7px;}

.personalInfo .fn h2{font-size:28px;line-height:34px;color:#4f81bd;margin-bottom:22px;font-family:Calibri,sans-serif;}
.personalInfo .content{font-size:16px;line-height:28px;}
.personalInfo .vcard{width:300px;float:left;}
.personalInfo .vcard dt, .personalInfo .vcard dd{float:left;margin-bottom:10px;}
.personalInfo .vcard dt{width:80px;clear:both;font-weight:bold;}
.personalInfo .vcard dd{width:300px;}
.personalInfo .vcard dl dd.address{clear: both;}

/*table{width:100%;}
table td{vertical-align:top;border:1px solid #4f81bd;padding:10px;}
table td.date{width:160px;background-color:#eee;}
table td.date strong{display:block;margin-top:5px;}*/

.table{border:1px solid #4F81BD;border-bottom-width:0}
.row{clear:both;border:1px solid #4F81BD;background-color:#eee;border-width:1px 0;}
.row.odd{border-top-width:0;}
.row.even{border-top-width:0;}
.row .cl, .row .cr {padding:10px;}
.row .cl{float:left;width:160px;}
.row .cr{float:left;width:597px;clear:none;border:1px solid #4F81BD;border-width:0 0 0 1px;background-color: #fff;}
.row.course{background-color: #fff;padding:10px;}
.row .date strong{display:block}

.actions{clear:both;margin-top:10px;float:left;font-size:12px;line-height:14px;} 

/*.welcome_wrapper{position:absolute;top:10%;margin:0 auto;z-index:2000;width:100%;height: 100%;}
.welcome{background-color: #fff;border:3px solid #a6bfdd;padding:20px;font-size:16px;line-height:26px;margin:0 auto;width:500px;border-radius:10px;position:relative;display:none;}
.welcome .close{width:36px;height:36px;background-position: 0 0;position:absolute;right:5px;top:5px;cursor:pointer;}
.welcome .close:hover{background-position: 0 -36px;}
.welcome .sign{margin-top:40px;}
.overlay{position:fixed;left:0;top:0;background-color: #000;width:100%;height:100%;z-index:1000;}*/ 
    
/* 404, 500 */
#error #c{background: none;}
.error {margin-top:100px;background-color: #fff;padding:30px;}
.error .header h2{font-size:26px;line-height:30px;margin-bottom:40px;}
.error .content {line-height:28px;}


/*mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
/* padding */

 
  
body{min-width:100%;background-color: #fff;}  
#s{display:none;}

.mobile_photo{display:block;float:left;margin-right:7px;}
  
#h-,#c-,#f-,#s-{background: #fff;padding:0;margin:0;background-color: #fff;}

.section .header h3{margin-top:25px;padding-left:3px;}
.languages .header h3{padding-left:5px;}

#h {text-align:left;}
#h h1{font-size:40px;line-height:50px;margin-bottom:30px;margin-left: 3px;}

#big_photo{display:none;}
.table{border:none;}

.row .cl{background-color:#eee;clear:both;width:200px;}
.row .cr{border:none;}
.row{border:none;background:none;}
.row.even{border-top-width:1px;}
.row{margin-bottom:20px;}


.row.course, .row .cr, .vcard {padding: 0 0 0 2px;}
.row .cl{margin-bottom:5px;padding-left:3px;}

.experience .row .cr, .education .row .cr{clear:both;}
.vcard .birthday, .vcard .email, .vcard .tel,.vcard .goldenline{clear:none;}

#f- {padding-left:3px;}
}




/* slider menu */
#smenu{
  margin:0 auto;display:none;border:1px solid #8db6ff;border-width:0 1px 1px 1px;width:500px;z-index:100;padding:20px 30px 30px;line-height:28px;
  background-image: linear-gradient(top, #FFFFFF 34%, #FFFFFF 51%, #C1D7FF 115%);
  background-image: -o-linear-gradient(top, #FFFFFF 34%, #FFFFFF 51%, #C1D7FF 115%);
  background-image: -moz-linear-gradient(top, #FFFFFF 34%, #FFFFFF 51%, #C1D7FF 115%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 34%, #FFFFFF 41%, #C1D7FF 115%);
  background-image: -ms-linear-gradient(top, #FFFFFF 34%, #FFFFFF 51%, #C1D7FF 115%);  

  border-radius:0 0px 0px 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.80);    
  
/* For Internet Explorer 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#C1D7FF);
      /* For Internet Explorer 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#C1D7FF)";    
      background-color: #CCC;   
}
#bookmark{width:128px;height:60px;background-position:-36px 0;cursor:pointer;padding-top:5px;padding-left:8px;float:right;margin-right:90px;}
#bookmark span{opacity:0.9;background-color:#fff;font-size:16px;line-height:20px;display:block;float:right;padding:5px;}
#bookmark span:hover{color:#4d5666;}

