{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Leszek Cybulski | Curriculum Vitae{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
    {% block meta %}
      {% for meta in metas %}
        <meta name="keywords" content="{{ meta.keywords }}" />
        <meta name="description" content="{{ meta.description }}" />
      {% endfor %}
    {% endblock %}

    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28527550-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>    
  </head>
  <body>
    <div id="lc">
      <h2>{{ flavor }}</h2>
      <div id="home">
        <div id="t">
          <div id="t-">
            <h1>Curriculum Vitae</h1>
          </div>
        </div>
        <div id="h">
          <div id="h-">
            {% block personal_info %}
            <div class="section personalInfo">
              <div class="content">
                {% block vcard %}{% endblock %}
                <img src="{% get_static_prefix %}images/photo.jpg" width="150" height="165" alt="inż. Leszek Cybulski" title="inż. Leszek Cybulski" />
              </div>
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
      <div id="c">
        <div id="c-">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div id="f">
        <div id="f-">
          <p>
            Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w&nbsp;mojej ofercie pracy dla potrzeb niezbędnych
            do realizacji procesu rekrutacji (zgodnie z&nbsp;ustawą z&nbsp;dn.29.08.1997r. o Ochronie Danych Osobowych).
          </p>
        </div>
      </div>
      {% block welcome %}{% endblock %}
    
    </div> <!-- #lc -->
    <script type="text/javascript" src="{% get_static_prefix %}js/application.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/cufon/cufon-yui.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/cufon/cufon.js"></script>
    
  </body>
</html>